.nav{
    background-color: #B0E0E6 ;
}

img{
    width: 30%;
}

.url{
    text-align: right;
}

header {
    background-color:rgb(211, 188, 233);
}

button {
 background-color: rgb(68, 202, 202);
}