.head{
    background-color: #B0E0E6 ;
}

strong{
    text-align: left;
    
}

.content {
    background-color: #DDA0DD;
}

img{
    width: 30%;
    align-self: right;
}

.title {
    text-align: left;
}

.A{
    text-align: right;
}